html{
    min-width:100%;
    border:1px dotted green;
    display:flex;
}
body{
    padding: 5px;
    width:100%;
    flex:1;
    align-items: center;
    justify-content: center;
    border:1px dotted red;
    display:flex;
}
#main_container{
    display:flex;
    background-color: #000000;
    width:80%;
    min-width:1000px;
    margin:auto;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    border-radius:20px;
}
#middle-section{
    display:flex;
    flex: 1;
    flex-direction: column;
    background-color:black;
    margin:3%;
    margin-left: 3%;
    min-height:650px;
    width:100%;
    border-radius:20px
}
#top-section{
    background: rgb(158,170,171);
    background: linear-gradient(87deg, rgba(158,170,171,1) 0%, rgba(101,107,100,1) 95%);
    width:99%;
    height:200px;
    padding-top:100px;
    margin: auto;
    align-items: center;
    justify-content: center;
    border-radius: 20px;

}
#main-section{
    display: flex;
    
    flex-direction: row;
    background-color: rgb(246, 253, 255);
    margin: 1%;
    height: 80%;
}
header{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width:100%;
    height: 100%;
    background: rgb(0,212,255);
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(74,73,73,1) 0%, rgba(255,255,255,1) 100%);
    text-align: center;
    flex:1;
    border-radius: 20px;
    font-size: 25px;
}
footer{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: rgb(0,212,255);
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(74,73,73,1) 0%, rgba(255,255,255,1) 100%);
    width:100%;
    text-align: center;
    font-size: 25px;
    border-radius:20px;
}
/* label{
    display: inline;
    font-size: small;
} */

form{
    display:flex;
    flex-direction: row;
}
fieldset{
    flex:1;
    display:flex;
    flex-direction: row;
    align-items: center;
    width:80%;
    margin-left:10px;
    margin-right: 10px;
    border-radius: 20px;
}
#table-render-space{
    background: rgb(158,170,171);
    background: linear-gradient(87deg, rgba(158,170,171,1) 0%, rgba(101,107,100,1) 95%);
    padding:10%;
    margin:5px;
    display: flex;   
    border-radius: 20px;  

}
#buttons{
    display: flex;
    padding-top: 50px;
}
#convert{

    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(108,108,108,1) 99%);
  border-radius: 999px;
  font-size: 16px;
  color:black;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  padding: 8px 18px;
  width: fit-content;
  word-break: break-word;
  border: 0;
  margin:auto;
}
table{
    background-color: white;
    min-width: 700px;
    margin:auto;
}
tr{
    width:1000px;
}
thead{
    color:white;
    background-color: black;
}
th,td{
    width:150px;
    padding: 1px;
    text-align: center;
    border:1px solid black;
}
tbody{
    min-width:100%;
}
tbody tr:nth-child(even){
    background-color: grey;
    color:white;
}
#from,#to{
    border-radius: 40px;
    height: 60px;
    width:50%;
    margin:auto;
    font-size: 15px;

}
#amount{
    border-radius: 40px;
    height: 55px;
    width:50%;
    margin:auto;
    margin-left:30px;
    font-size: 15px;
    text-align: center;
}
 label {
    background-color: white;
    border-radius: 20px;
    font-size: 18px;
    height:60px;
    width:100px;
    text-align:center;
    padding-top: 10px; 
    padding-left:15px;
}
.form-wrapper{
    background-color: white;
    width:100%;
    border-radius: 20px;
    margin-left:10px;
    margin-right:10px;
}


